@media (max-width: 1024px) {
    .grid-container {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-auto-rows: minmax(var(--size), auto);
    }
}

@media (min-width: 1024px) {
    .grid-container {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(var(--size), auto);
        .grid-cell1 {
            grid-column: span 2;
        }
        .grid-cell2 {
            grid-column: span 2;
        }
        .grid-cell3 {
            grid-column: span 2;
        }
    }
}
