:root {
  --con-size: 64px;
  --con-height: 64px;
  --con-size-circle: 18px;
  --con-height-circle: 18px;
}

.button {
  background-color: transparent;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 5px;
}

.main {
  width: 600px;
  height: 467px;
  margin: auto;
}

.avatars-wrap {
  background-color: snow;
  width: 336px;
  height: 168px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 132px;
}

.img {
  height: var(--con-height);
  width: var(--con-size);
  border-radius: 100%;
  float: left;
  margin: 10px;
}
.circle{
    /* border: 1px solid black; */
    width: 336px;
    height: 10px;
    position: absolute;
    padding: 155px;
     
    
}
#circle {

    width : var(--con-size-circle);
    height : var(--con-height-circle);
    border-radius: 100%;
    background-color: #dbdbdb;
    float: left;
  margin: 33px;
  }